<body>
  
  <div class="allbuttons">

    <button class="profile" [routerLink]="['/profile']" routerLinkActive="active"> <span>PROFILE </span></button> 

    <button class="payslip" [routerLink]="['/payslip']" routerLinkActive="active"> <span>PAYSLIP </span></button> 

    <br>

    <button class="payslip-pdf" [routerLink]="['/payslip-pdf']" routerLinkActive="active"> <span>PAYSLIP PDF </span></button> 

    <button class="leave-request" [routerLink]="['/leave-request']" routerLinkActive="active"> <span> LEAVE REQUEST </span></button>

  </div>

</body>